<div class="auth-page">
    <div class="page col-md-5">
        <h1 class="text text-xs-center">Sign In</h1>
        <div id="content"><span>Welcome Back to Mirafra Technologies,</span><br><span>Please login to continue
                with your work!</span></div>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1" class="label">Email address</label>
                <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="example@mirafra.com">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="label">Password</label>
                <input type="password" nbInput fullWidth id="exampleInputPassword1" placeholder="********">
            </div>
            <div class="center">
                <span><a routerLink="./pages">Forgot Password?</a></span>
            </div>
            <button class="SignIn" routerLink="./pages">Sign In</button>
            <div class="center">
                <span>New User? <a href="">Sign Up</a></span>
            </div>
        </form>
    </div>
</div>