.auth-page {
    display: block;
    text-align: center;
    // top: 100px;
    // position: relative;
    background-color: #ADADC9;
    height:900px;
}
.page {
    background-color: white;
    display: inline-block;
    text-align: left;
    width:350px; 
    top: 100px;
    border-radius: 4px;   
}
.form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }

//   .inline-form-card {
//     padding-bottom: 0;
//   }
  
  #exampleInputEmail1, #exampleInputPassword1 {
    border: 0;
    border-radius:0;
    border-bottom: 1px solid #b9bdc5;
    background: 0;
    padding-left: 0;
    display: block;
    width: 95%;
  }
  h1.text {
      border-bottom: none;
      padding-bottom: 0;
      color: #FF0000;
  }
  div#content{
    font-family:Open Sans, sans-serif;
    font-size:0.8em;
    margin-bottom:1em;
  }
  div.center{
  text-align: center;
  font-size: 0.8em;
  }
  div.center:last-child{
    margin-bottom: 20px;
    }
    div a{
        text-decoration: underline;
    }
  button.SignIn {
  width: 100%;
  background-color: #FF0000;
  border-color: #FF0000;
  color: #ffffff;
  margin: 10px 0;
  width:100%;
  text-transform:none;
  height: 30px;
  }
  