<!-- <h1>
  hhihojlkjlkjsjkskl
</h1>
<nb-layout>

  <nb-layout-header subheader>
    <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
  </nb-layout-header>

  <nb-sidebar></nb-sidebar> -->

  <!-- <nb-layout-column class="colored-column-basic">Layout Content</nb-layout-column> -->
<!-- </nb-layout> -->

<!-- Header + sidebar + page content HTML -->
<nb-layout>
 <!-- in header component -->
<!-- <app-header> </app-header> -->


<nb-layout-header fixed>
  <div class="navbar-header">
  <a routerLink="/" class="navbar-brand">WORKBENCH</a>
    </div>
</nb-layout-header>

<nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive>
  <ng-content select="nb-menu"></ng-content>
</nb-sidebar>
<!-- <nb-sidebar>Sidebar Content</nb-sidebar> -->
<!-- <app-sidebar></app-sidebar> -->
  <!-- <nb-layout-column>
    Page Content <button nbButton>Hello World</button>
  </nb-layout-column> -->
</nb-layout>

<!-- HTML ends-->